Nested If and Else

In [13]:
transaction_amount=int(input('Enter transaction amount: '))
transaction_type=input('Enter transaction type: ')
transaction_fee=0
if transaction_type=='withdrawal':
 if transaction_amount<500:
     transaction_fee=2
 if transaction_amount>=500:
     transaction_fee=5
elif transaction_type=='Deposit':
     transaction_fee=0
else:
    print('There is an error, enter correct amount: ')

total_amount=transaction_amount+transaction_fee
print('Total amount: ',total_amount)

Enter transaction amount:  5000
Enter transaction type:  Anas

There is an error, enter correct amount:
Total amount:  5000

For Loop: It is for iteration.

In [3]:
import time
name='Anas Bilal'
for i in name:
    print(i)
    time.sleep(2)

A
n
a
s

B
i
l
a
l

In [4]:
name=[222,'sales',4569,'profit',546,'discount',56789,'Total']
for t in name:
    print(t)

222
sales
4569
profit
546
discount
56789
Total

In [ ]:
# If I want to divide sales by profit and the values are in list

In [1]:
sales=[245,3456,6785,9874,234]
profit=[9820,987,4567,456,986]
# We cannnot divide it directly, we have to use For#

In [2]:
for i in [0,1,2,3,4]:
    print (sales[i]/profit[i])

0.02494908350305499
3.501519756838906
1.4856579811692576
21.653508771929825
0.23732251521298176

In [7]:
# Now in case if values increase we can make it mor customize#
for i in range(0,len(sales)):
    print(sales[i]/profit[i])

0.02494908350305499
3.501519756838906
1.4856579811692576
21.653508771929825
0.23732251521298176

In [ ]:
# If I am having a transaction_history[-40,10,30,0,-80] and I want +ve amount to be shown as Deposit and -ve amount as Withdrwal, Write quote for it#

In [22]:
transaction_history=[-40,10,30,0,-80] 
print('transaction_history: ')
for t in transaction_history:
    if t>=0:
     print('Deposit: ', t)
else:
     print('Withdraw: ', abs(t))

transaction_history:
Deposit:  10
Deposit:  30
Deposit:  0
Withdraw:  80

In [19]:
transaction_history=[40,10,30,0,-80] 
print('transaction_history: ')
for t in transaction_history:
    if t>0:
     print('Deposit: ', t)
else:
     print('Withdraw: ', abs(t))

transaction_history:
Deposit:  40
Deposit:  10
Deposit:  30
Withdraw:  80

In [23]:
# Write a code to find account balance#
account_balances=[2000,9045,6786,5674,98764]

In [40]:
account_balances=[2000,9045,6786,5674,98764]
total_balance=0
for balance in account_balances:
    total_balance=total_balance+balance
print('Total account balance: ',total_balance)

Total account balance:  122269

In [23]:
account_balances=[1000,1500,2500,10000,3500,4800]
interest_rate=0.05

for a in range(len(account_balances)): 
    interest=account_balances[a]*interest_rate 
    account_balances[a]+=interest 
print('Updated account balance: ',account_balances)

Updated account balance:  [1050.0, 1575.0, 2625.0, 10500.0, 3675.0, 5040.0]

In [16]:
account_numbers = [123456,789012,345678,901234,56740,8976]
account_to_be_closed=int(input('Enter account number: '))
for account in account_numbers:
    if account==account_to_be_closed:
        print('Account closed: ',account)
#print('Account not found')
print('Remaining accounts: ', account_numbers)

Enter account number:  1

Remaining accounts:  [123456, 789012, 345678, 901234, 56740, 8976]

# Write a code to close account from account list#

In [19]:
account_numbers = [123456,789012,345678,901234]
account_to_close = int(input('Which account you need to close: '))
for account in account_numbers:
    if account==account_to_close:
        print('Closing Account: ', account)
        account_numbers.remove(account)
print('Account not found')
print('Remaining accounts: ', account_numbers)

Which account you need to close:  12

Account not found
Remaining accounts:  [123456, 789012, 345678, 901234]

# How to iterate for a list of dictionary#

In [2]:
account_transaction=[{'date':'2023-08-01', 'type':'Deposit','Amount':100},
                     {'date':'2023-08-02', 'type':'Withdraw','Amount':10},
                     {'date':'2023-08-03', 'type':'Deposit','Amount':150},
                     {'date':'2023-08-04', 'type':'Withdraw','Amount':1300},
                     {'date':'2023-08-05', 'type':'Deposit','Amount':120},
                     {'date':'2023-08-06', 'type':'Withdraw','Amount':50},
                     {'date':'2023-08-07', 'type':'Deposit','Amount':70},
                     {'date':'2023-08-08', 'type':'Withdraw','Amount':50}]

In [7]:
print('Account Statement')
for i in account_transaction:
    print(i['date'],'-',i['type'],'-', i['Amount'])

Account Statement
2023-08-01 - Deposit - 100
2023-08-02 - Withdraw - 10
2023-08-03 - Deposit - 150
2023-08-04 - Withdraw - 1300
2023-08-05 - Deposit - 120
2023-08-06 - Withdraw - 50
2023-08-07 - Deposit - 70
2023-08-08 - Withdraw - 50

zip() :

In [1]:
transaction_date=['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06']
transaction_amount=[100,200,50,456,456,890]
transaction_type=['Deposit','Witdraw','Deposit','Withdraw','Deposit','Withdraw']

In [4]:
for [td,ta,tt] in zip (transaction_date,transaction_amount,transaction_type):
    print(td,'-',ta,'-' ,tt)

2023-08-01 - 100 - Deposit
2023-08-02 - 200 - Witdraw
2023-08-03 - 50 - Deposit
2023-08-04 - 456 - Withdraw
2023-08-05 - 456 - Deposit
2023-08-06 - 890 - Withdraw