Object Oriented Programming

Codes in Python can be done in two ways
Object Oriented Programming Language
Functional Programming

In [1]:
def ctof(c):
    f=(c*9/5)+32
    return (f)

In [2]:
ctof(20)

68.0

In [3]:
class CeltoFer:
    def __init__(self,c):
        self.c=c
    def ctof(self):
        f=(self.c*9/5)+32
        return(f)

In [4]:
c1=CeltoFer(20)
c1.ctof()

68.0

In [27]:
class Employee:
    def __init__(self, eid,efname,elname,esalary,elocation,ecompany):
        self.eid = eid
        self.efname = efname
        self.elname = elname
        self.esalary = esalary
        self.elocation = elocation
        self.ecompany=ecompany
        
    def display(self):
        print('Your employee id is:', self.eid)
        print('Your name is:', self.efname+' '+self.elname)
        print('Your salary is:', self.esalary)
        print('Your location is:', self.elocation)
        print('Your company name is: ', self.ecompany)
        
    def tax_calc(self):
        if self.esalary<=2500:
            print('Your total tax is: ', self.esalary*0)
        elif self.esalary>2500 and self.esalary<=5000:
            print('Your total tax is: ', self.esalary*0.05)
        elif self.esalary>5000 and self.esalary<=10000:
            print('Your total tax is: ', self.esalary*0.10)
        else:
            print('Your total tax is: ', self.esalary*0.15)

In [39]:
emp1=Employee(1,"Anas","Bilal",3500,"Delhi","TTS")
emp1.display()
emp1.tax_calc()

Your employee id is: 1
Your name is: Anas Bilal
Your salary is: 3500
Your location is: Delhi
Your company name is:  TTS
Your total tax is:  175.0

In [11]:
class Employee:
    def __init__(self, eid,efname,elname,esalary,elocation):
        self.eid = eid
        self.efname = efname
        self.elname = elname
        self.esalary = esalary
        self.elocation = elocation
    
        
    def display(self):
        print('Your employee id is:', self.eid)
        print('Your name is:', self.efname+' '+self.elname)
        print('Your salary is:', self.esalary)
        print('Your location is:', self.elocation)
        
        
    def tax_calc(self):
        if self.esalary<=2500:
            print('Your total tax is: ', self.esalary*0)
        elif self.esalary>2500 and self.esalary<=5000:
            print('Your total tax is: ', self.esalary*0.05)
        elif self.esalary>5000 and self.esalary<=10000:
            print('Your total tax is: ', self.esalary*0.10)
        else:
            print('Your total tax is: ', self.esalary*0.15)
    def bon_cal(self):
        if self.elocation=="Delhi":
            print("Your bonus is :", self.esalary*0.5)
        else:
            print("There will be no bonus")
    def hike_calc(self):
        hike=0.30
        if self.esalary<5000:
            print("Your salary is :",self.esalary+self.esalary*hike)
        else:
            print("Your salary is :",self.esalary)

In [12]:
emp1=Employee(1,"Anas", "Bilal",3500,"Delhi")
emp1.display()
emp1.tax_calc()
emp1.bon_cal()
emp1.hike_calc()

Your employee id is: 1
Your name is: Anas Bilal
Your salary is: 3500
Your location is: Delhi
Your total tax is:  175.0
Your bonus is : 1750.0
Your salary is : 4550.0

In [52]:
emp2=Employee(2,"Sauban","Bilal",10000,"Gurgaon")
emp2.display()
emp2.tax_calc()
emp2.bon_cal()

Your employee id is: 2
Your name is: Sauban Bilal
Your salary is: 10000
Your location is: Gurgaon
Your total tax is:  1000.0
There will be no bonus

# Instance Variable/Object Level Variable #
These variables are local to an object and are also known as Instance variable.
It is advisable to use if with self.
In our eid,fname,lname are instance or object level variable.

# Static Variable/Class Level Variable #
These variables are local to a Class and are also known as Static variable.
It is advisable to use if with class.
In our eid,fname,lname are instance or object level variable.

Local Variable/Method Level Variable
Local variable are variables local to a method also known as Method Level variable. for example hike

In [13]:
list_employees=[(1,'A','B',4000,'Delhi'),
                (2,'C','D',4000,'Gurgaon'),
                (3,'E','F',4000,'Noida'),
                (4,'G','H',4000,'Banglore'),
                (5,'I','J',4000,'Faridabad'),
                (6,'K','L',4000,'Nagpur',),
                (7,'M','N',4000,'Pune',)]
# now if I want a simple call to call from a list or tupple then come concept of variable length#

In [22]:
for i in list_employees:
    emp=Employee(*i)
    emp.display()
    emp.tax_calc()
    emp.bon_cal()
    emp.hike_calc()
    print('==============================================')

Your employee id is: 1
Your name is: A B
Your salary is: 4000
Your location is: Delhi
Your total tax is:  200.0
Your bonus is : 2000.0
Your salary is : 5200.0
==============================================
Your employee id is: 2
Your name is: C D
Your salary is: 4000
Your location is: Gurgaon
Your total tax is:  200.0
There will be no bonus
Your salary is : 5200.0
==============================================
Your employee id is: 3
Your name is: E F
Your salary is: 4000
Your location is: Noida
Your total tax is:  200.0
There will be no bonus
Your salary is : 5200.0
==============================================
Your employee id is: 4
Your name is: G H
Your salary is: 4000
Your location is: Banglore
Your total tax is:  200.0
There will be no bonus
Your salary is : 5200.0
==============================================
Your employee id is: 5
Your name is: I J
Your salary is: 4000
Your location is: Faridabad
Your total tax is:  200.0
There will be no bonus
Your salary is : 5200.0
==============================================
Your employee id is: 6
Your name is: K L
Your salary is: 4000
Your location is: Nagpur
Your total tax is:  200.0
There will be no bonus
Your salary is : 5200.0
==============================================
Your employee id is: 7
Your name is: M N
Your salary is: 4000
Your location is: Pune
Your total tax is:  200.0
There will be no bonus
Your salary is : 5200.0
==============================================