#Range#

In [8]:
list(range(0,15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [12]:
list(range(15,1,-1))

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
#None#

In [16]:
a=None

In [17]:
type(a)

NoneType

In [ ]:
Operators in Python 

Arithmatic
Relational Operators / Comparision Operators 
Logical Operators 
Equality Operators 
Ternary Operators 
Assignment Operators 
Special Operators

In [ ]:
+ Add
- Subtraction
* Multiplication
/ Division
% Remainder (Modula)
// Quotient (Floor Division)
** (Power)

In [1]:
a=20
b=5

In [5]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

25
15
100
4.0
0
4

In [6]:
10+10

20

In [7]:
'10'+10

TypeError: can only concatenate str (not "int") to str

In [9]:
# we have to typecast it to change to integer#
int('10')+10

20

Relational/ Comparison operator

In [10]:
a=25
b=5

In [15]:
print(a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False

In [ ]:
a=10
b=15

In [16]:
print (a==b)
print (a!=b)

False
True

In [ ]:
#Logical Operator
AND
OR
NOT #

In [24]:
a=10
b=5
c=20
d=15

print(a>b) and (c>d)
print(a<b) and (c>d)
print(a>b) and (c<d)
print(a<b) and (c<d)
print(a>b) or (c>d)
print(a<b) or (c>d)
print(a>b) or (c<d)
print(a<b) or (c<d)

True
False
True
False
True
False
True
False

False

Assingment Operator
+=
-=
/=
*=
//=
%=
**=

In [25]:
a=50
a-=10
print(a)

40

In [ ]:
#Ternary Operator#

In [28]:
a = 10 if 10>20  else 20
a

20

In [32]:
a=10
b=20
c=3
x=a if a>b>c else b if b<c else c
x

3

In [ ]:
#Identity Operators 
    #is
    #is not
#Membership Operators 
    #in
    #not in

In [1]:
a=100
b=100
print(a is b)
c=257
d=257
print(c is not d)

True
True

In [37]:
id(a)

140722769088392

In [38]:
id(b)

140722769088392

In [42]:
b=1000
c=1000
b is c

False

In [2]:
tuple=(10,20,40,60,100)

In [4]:
print(10 in tuple)
print(100 not in tuple)

True
False

In [ ]:
#Input Output Statement#

In [5]:
age= int(input('Enter your age: '))

Enter your age:  39

In [6]:
age

39

In [9]:
Name= input('Enter your name: ')

Enter your name:  Anas

In [10]:
Name

'Anas'

In [30]:
print ('Hi', '\n')
print('Hello')

Hi

Hello

In [39]:
print ('Hi')
print('Hello')

Hi
Hello

In [37]:
a=10
b=10
c=10
print(a,b,c,sep='$')

10$10$10

#If Else

In [49]:
marks=int(input('Enter your marks'))
if marks<=40:
    print('You failed the exam')
else:
    print('You passed the exam')

Enter your marks 40

You failed the exam

In [52]:
marks= int(input('Enter your marks: '))
if marks<=40:
    print('You failed teh exam')
elif marks>40 and marks<=60:
    print('You got average marks')
else:
    print('You goy good marks')

Enter your marks:  99

You goy good marks

# How to calculate Tax Calculator based on Salary#

In [ ]:
salary =int(input('Enter your salary: '))
if salary<2000:
    print('The tax you have to pay is: ',salary*0)
elif salary<5000 and salary>=2000:
    print('The tax you have to pay is: ',salary*.05)
elif salary>10000 and salary<=5000:
    print('The tax you have to pay is: ',salary*.10)
else:
    print('The tax you have to pay is: ',salary*.20)